@charset "UTF-8";

/*
    em HTML é id = em css é #
    em HTML é class = em css é .
*/


body {
    background-color: rgba(164, 252, 208, 0.795);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(26, 110, 9);
}

h1#principal {
    text-align: center;
    background-color: green;
    color: white;
}

h2 {
    color: rgb(39, 70, 19);
}

.basico {
    color: green;
}

.intermediario {
    color: rgb(131, 118, 43);
}

.avançado {
    color: rgb(156, 32, 32);
}

.destaque {
    background-color:rgba(224, 224, 79, 0.418);
}